<div *ngIf="!isSuccessfull" class="register-container">
    <div >
        <img class="logo-div" src="https://learnitv1.s3.ap-south-1.amazonaws.com/images/logo.png" alt="alt"/>
    </div>
    
    <h3 id="headding">Create a new account</h3>
        <form #registerForm="ngForm" (ngSubmit)="onSubmit()" method="post">
            <div class="input-div">
                <label id="lable" for="fname">First Name</label>
                <input type="text" id="fname" name="fname" value="" required placeholder="First Name" [(ngModel)]="fname"
                #vfname="ngModel"
                />
                <p *ngIf="vfname.dirty && vfname.invalid" id="error" class="efname">First Name should not be empty!</p>
            </div>
            <div class="input-div">
                <label id="lable" for="lname">Last Name</label>
                
                <input type="text" id="lname" name="lname" value=""
                       required placeholder="Last Name" [(ngModel)]="lname" #vlname="ngModel"/>
                <p *ngIf="vlname.dirty && vlname.invalid" id="error" class="elname">Last Name should not be empty!</p>
            </div>
            <div class="input-div">
                <label id="lable" for="phno">Phone Number</label>
                
                <input type="text" id="phno" name="phno" value=""
                       required placeholder="9876564743" [(ngModel)]="phno" #vphno="ngModel"
                       />
                <p *ngIf="vphno.dirty && vphno.invalid" id="error" class="ephno">Phone Number should not be empty!</p>
                <p *ngIf="phno.length>0 && phno.length!=10" id="error" class="ephno">Invlaid Phone Number!</p>
            </div>
            
            <div class="input-div"> 
                <label id="lable" for="mailid">Email</label>
                
                <input type="email" id="mailid" name="mailid" value=""
                       required placeholder="abc@gmail.com" [(ngModel)]="email" #vemail="ngModel"
                       ngModel email="true"
                       />
                <p *ngIf="vemail.dirty && vemail.invalid" id="error" class="eemail">Enter a valid Email id!</p>
                
                
            </div>
            
            <div class="input-div">
                <label id="lable" for="password">Password</label>
                
                <input type="password" id="password" name="password" value=""
                       required placeholder="password" [(ngModel)]="password" #vpassword="ngModel"
                       />
                <p *ngIf="vpassword.dirty && vpassword.invalid" id="error" class="epassword">Password should not be empty!</p>
            </div>
            
            <div class="input-div">
                <label id="lable" for="confirmpassword">Confirm Password</label>
                
                <input type="password" id="confirmpassword" name="confirmpassword" value=""
                       required placeholder="confirm password" [(ngModel)]="confirmPassword" #vconfirmpassword="ngModel"
                       />
                <p *ngIf="vconfirmpassword.dirty && vconfirmpassword.invalid" id="error" class="econfirmpassword">Confirm Password should not be empty!</p>
                <p *ngIf="confirmPassword.length>0 && (vconfirmpassword.dirty && vpassword.dirty) && password!=confirmPassword" id="error" class="econfirmpassword">password mismatch..!</p>
            </div>
            
            <input [disabled]="!registerForm.form.valid || phno.length!=10 || password!=confirmPassword" id="submit" type="submit" value="Register" />
        </form>
    
    <p id="login">already have an account? <a href="/login">login</a></p>
    <p *ngIf="exception.length>0" id="exception">{{exception}}</p>
</div>

<div *ngIf="isSuccessfull" class="register-done">
    <img id="completed-img" src="https://learnitv1.s3.ap-south-1.amazonaws.com/images/completed.jpg" alt="">
    <h3 id="register-msg">Registration Successful</h3>
    <p id="login-msg">Please login to continue</p>
    <!-- <input type="submit" id="login-btn" value="Login"/> -->
    <input id="login-btn" type="submit" value="Login" (click)="goToLogin()"/>
</div>
