.main{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

.otp-div{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.reset-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.forgot-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    font-size: 1rem;
    margin-bottom: 20px;
}

#otp{
    height: 3.5rem;
    width: 40%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-sizing: border-box;
}



#exception{
    margin-top: 10px;
    color:red;
    font-size: 16px;
}

#error{
    background-color: rgb(247, 174, 174);
    color: rgb(170, 0, 0);
    font-size: 14px;
    margin-top: 0.5rem;
    margin-bottom: 1rem; 
    padding: 10px;
    width: 50%;
    border-radius: 5px;
}

#otp{
    height: 3.5rem;
    width: 40%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-sizing: border-box;
}

#password{
    height: 3.5rem;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-sizing: border-box;
}

#cpassword{
    height: 3.5rem;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-sizing: border-box;
}

label{
  font-size: 14px;
  font-weight: bold;
  margin-top: 2.5rem;
  width: 100%;
  text-align: start;
  
}

#otp-btn{
    width: 20%; 
    height: 50px; 
    padding:0;
    color: white;
    font-weight: bold;
    background-color: #503E9D;
    border: none;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

#otp-btn:disabled{
    width: 20%; 
    height: 50px; 
    padding:0;
    
    font-weight: bold;
    background-color: rgb(194, 194, 194);
    color: #aaa;
    border: none;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 5px;
    
}

#resend{
    color: red;
}

#headding{
    font-size: 2rem;
    font-family: poppins-bold;
}

#forgot-img{
    width: 100%;
    height: 600px;
    border-radius: 10px;
} 

/* responsive */
@media(max-width:1300px){
    .otp-div{
        display: flex;
        flex-direction: column;
    }

    #forgot-img{
        /* display: none; */
        width: 40%;
        height: 300px;
    }

    .reset-div{
        width: 60%;
    }
}

@media(max-width:790px){
    .otp-div{
        display: flex;
        flex-direction: column;
    }

    #forgot-img{
        display: none;
        /* width: 40%;
        height: 200px; */
    }

    .reset-div{
        width: 60%;
    }

    #otp-btn{
        width: 100px;
    }

    #otp-btn:disabled{
        width: 100px;
    }
}

