<div class="main">
    <div class="otp-div">
        <img  id="forgot-img" src="https://learnit.s3.ap-south-1.amazonaws.com/forgotpassword.jpg" alt="">
        <div class="forgot-div" *ngIf="!isVerified">
            <h1 id="headding">Forgot your Password?</h1>
            <p>your email: <b>{{user.emailId}}</b></p>
            <p>OTP will be delivered to {{phno}}</p>
            <p *ngIf="Aexception.length>0" id="exception">{{Aexception}}</p> 
            <ng-template [ngIf]="!optSend">
                <button type="submit" id="otp-btn" (click)="SendOTP()">Send OTP</button>              
            </ng-template>
 
            <ng-template [ngIf]="optSend">
                <input type="text" id="otp" name="otp" value=""
                required placeholder="otp" [(ngModel)]="otp" #votp="ngModel"
                >
                <p *ngIf="votp.dirty && votp.invalid || votp.dirty && otp.length!=4 " id="error" class="efname">invalid OTP..!</p>
                <button type="submit" id="otp-btn" (click)="verify()">Verify</button>              
                <p *ngIf="isSendClicked">resend will be available in {{timeLeft}}s</p>
                <p *ngIf="showResend">didn't receive otp? <a id="resend" (click)="resend()">Resend</a></p>
                <p *ngIf="votp.dirty && exception.length>0" id="exception">{{exception}}</p>
            </ng-template>
            
        </div>

        <div class="reset-div" *ngIf="isVerified">

            <h1 id="headding">Reset your password here</h1>
        
            <label id="lable" for="password">New Password</label>
            
            <input type="password" id="password" name="password" value=""
                   required placeholder="password" [(ngModel)]="password" #vpassword="ngModel"
                   />
            <p *ngIf="vpassword.dirty && vpassword.invalid" id="error" class="epassword">Password should not be empty!</p>
    
        
        
            <label id="lable" for="confirmpassword">Confirm Password</label>
            
            <input type="password" id="cpassword" name="confirmpassword" value=""
                   required placeholder="confirm password" [(ngModel)]="confirmPassword" #vconfirmpassword="ngModel"
                   />
            <p *ngIf="vconfirmpassword.dirty && vconfirmpassword.invalid" id="error" class="econfirmpassword">Confirm Password should not be empty!</p>
            <p *ngIf="confirmPassword.length>0 && (vconfirmpassword.dirty && vpassword.dirty) && password!=confirmPassword" id="error">password mismatch..!</p>
            <button [disabled]="password.length==0 && confirmPassword.length==0" type="submit" id="otp-btn" (click)="resetPassword()">Update</button> 

            
        </div>
        
    </div>
    

    
</div>
