<div class="main">
    <h1 id="headding">Personal Details</h1>
    <div class="pre-det">
        
        <img src="https://learnitv1.s3.ap-south-1.amazonaws.com/images/account.png" alt="" id="account">
        <div class="details">
            
            <h2 *ngIf="!isUpdate" id="name">{{curUser.firstName}}</h2>
            <input *ngIf="isUpdate" type="text" id="fname" name="fname" value=""
             [(ngModel)]="fname" 
            >
            <!-- <p *ngIf="efname.dirty && efname.invalid" id="error" class="efname">Name should not be empty!</p> -->
            <p id="det" *ngIf="!isUpdate">{{curUser.emailId}}</p>
            <input type="email" *ngIf="isUpdate" id="mailid" name="mailid" value=""
            required placeholder="email" [(ngModel)]="email" 
            >
            <!-- <p *ngIf="vemail.dirty && vemail.invalid" id="error" class="efname">Please enter a valid email id..!</p> -->
            <p id="det" *ngIf="!isUpdate">{{curUser.phno}}</p>
            <input type="text" *ngIf="isUpdate" id="phno" name="phno" value=""
             [(ngModel)]="phno"  
             
             

            >
            <!-- <p *ngIf="vphno.dirty && vphno.invalid" id="error" class="efname">Phone Number should not be empty!</p> -->
            <div class="btns">
                <button  type="submit" (click)="update()" id="update">{{btn_text}}</button>
                <button  type="submit" (click)="cancle()" id="cancle">Cancle</button>
            </div>
        </div>
        
    </div>
    <h1 id="headding">Enrollment Details</h1>
    
    <div class="enrollments-div">
        <div class="enrollments" *ngFor="let en of enrollments" (click)="goToCourseDet(en.name)">
            <h3>
                {{en.name}}
            </h3>
            <div class="course-det">
                <p >{{en.category}} -></p>
                <p >{{en.sub_category}}</p>
            </div>
            <p>{{en.instructor}}</p>
            <div class="course-det">
                
                    <p >₹ {{en.price}}.00, </p>
                    <p >{{en.duration}}</p>
                
                
                
            </div>
        </div>
    </div>

    <!-- <div class="enrollments-div">
        <div class="enrollments" *ngFor="let en of enrollments" (click)="goToCourseDet(en.name)">
            <div>
                <h3>
                    {{en.name}}
                </h3>
                
                    <p >{{en.category}}</p>
                    <p >{{en.sub_category}}</p>
            </div>
            
            <div class="course-bottom">
                <p>{{en.duration}} Course</p>
                
                <div class="course-det">
                    <p>By {{en.instructor}}</p>
                        <p >₹ {{en.price}}.00</p>
                    
                    
                    
                </div>
            </div>
            
            
        </div>
    </div> -->

    <h2 id="no-enrollments" *ngIf="enrollments.length===0">No Enrollments Found</h2>
</div>
