<div  class="courses-container">

    <div class="navbar">
        <div class="search">
            <input type="text" name="course" id="course" placeholder="search" [(ngModel)]="search">
            <img id="search-img" src="../assets/search.png" alt="" (click)="searchCourse()" >
        </div>

        <div class="category-div">
            <select class="form-control" id="category" (change)="onChange($event)">
                <option *ngFor="let category of categories" [value]="category">{{category}}</option>
            </select>
        </div>

        <div class="category-div">
            <select class="form-control" id="category" (change)="onChangeSub($event)">
                <option *ngFor="let subCategory of subCategories" [value]="subCategory">{{subCategory}}</option>
            </select>
        </div>

    </div>

    <div class="courses">
        <div *ngFor="let course of courses" class="course-div" (click)="showOverview(course)">
            <div class="course-img">
    
            </div>
            <div  class="course-desc">
                <h4>{{course.name}}</h4>
                <p>{{course.overview}}</p>
                <b>{{course.no_of_enrollments}} fokes enrolled</b>    
            </div>
        </div>
    </div>

   

    

    
</div>
