<div  class="courses-container" *ngIf="isLoaded">
    
    <div class="navbar">
        <div class="search">
            <input type="text" name="course" id="course" placeholder="search" [(ngModel)]="search">
            <button id="search-btn" type="submit" (click)="searchCourse()">search</button>
        </div>

        <!-- <div class="category-div"> -->
            <!-- <select class="form-control" id="category" (change)="onChange($event)">
                <option *ngFor="let category of categories" [value]="category">{{category}}</option> 
            </select> -->
            <!-- <button class="cat-div" *ngFor="let category of categories" (click)="onChange(category)">
                {{category}}
            </button>
        </div> -->

        <!-- <div class="category-div">
            <select class="form-control" id="category" (change)="onChangeSub($event)">
                <option *ngFor="let subCategory of subCategories" [value]="subCategory">{{subCategory}}</option>
            </select>
        </div> -->

    </div>

    <div class="body">
        <div class="filter">
            <b>Filter by Category</b>
            <!-- hidden -->
            <div class="rcategory-container">
                <div>
                    <select  id="category" (change)="ronChange($event)" name="cate" >
                        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
                    </select>
                        <select id="sub-category" (change)="ronChangeSub($event)" name="subcate" >
                            <option *ngFor="let subCategory of subCategories" [value]="subCategory">{{subCategory}}</option>
                        </select>
                </div>
                
            </div>
 <!-- hidden ends -->
                <div class="normal-div" *ngFor="let cat of categories">
                    <input type="radio" id="radio-btn" name="fav_language" value="cat" (click)="onChange(cat)">
                    <label for="radio-btn">{{cat}}</label><br>
                </div> 
                <b>Filter by Sub Category</b>
                <div class="category-div">
                    <select  id="category" (change)="onChangeSub($event)">
                        <option *ngFor="let subCategory of subCategories" [value]="subCategory">{{subCategory}}</option>
                    </select>
                </div>    
                <!-- <div *ngFor="let subcat of subCategories">
                    <input type="radio" id="radio-btn" name="fav_language" value="subcat" (click)="onChangeSub(subcat)">
                    <label for="radio-btn">{{subcat}}</label><br> 
                </div>  -->
            
        </div>
        <div class="courses scroll-style">
            <div *ngFor="let course of courses" class="course-div" (click)="showOverview(course)">
                <img class="course-img" src="{{course.img_thumbnai}}">
                <div  class="course-desc">
                    <h4>{{course.name}}</h4>
                    <div class="course-info">
                        <div>
                            <p id="instructor">by {{course.instructor}}</p>
                            <p id="duration">{{course.duration}}</p>
                        </div>
                        
                        <b id="price">₹ {{course.price}}.00</b>
                    </div>
                        
                </div>
            </div>
        </div>
    </div>
 
</div>

<div class="loader" *ngIf="!isLoaded"></div>
