.main{
    width: 80%;
    margin: 0 auto;
}

.start{
    background-image: url('../../assets/home-start-img.png');
    background-size: cover;
    border-radius: 10px;
    width: 80%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}
#heading{
    width: 40%;
    font-size: 4rem;
    color: black;
    font-weight: bold;
    line-height: 1;
    margin-left: 2rem;
    font-family: poppins-bold;
}

#sub-heading{
    font-size: 1.3rem;
    margin-left: 2rem;
    font-family: poppins-reg;
}

#courses-btn{
    border: 0;
    height: 3rem;
    width: 12rem;
    background-color: red;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-left: 2rem;
}

#top-btn{
    border: 0;
    height: 3rem;
    width: 12rem;
    background-color: red;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-left: 2rem;
}

.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    
}

#comp-img{
    width: 10rem;
    height: 6rem;
}

.body{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#value{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 3rem;
}

.trending{
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.trending-course{
    background-image: url('../../assets/trendingcourse-img.png');
    background-size: cover;
    width: 80%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
}

#trending-content{
    font-size: 2rem;
    font-weight: bold;
    width: 50%;
    line-height: 1.3;
    margin: 2rem;
}

#trending-subcontent{
    font-size: 1.2rem;
    width: 50%;
    line-height: 1.3;
    margin-left: 2rem;
    box-sizing: border-box;
}



.sub-sub-trending1{
    background-image: url('../../assets/sub-trending1.png'); 
    background-color: aquamarine;
    width: 100%;
    height: 250px;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}

.sub-sub-trending2{
    background-image: url('../../assets/sub-trending2.png'); 
    background-color: aqua;
    margin-left: 10px;
    width: 100%;
    height: 250px;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}

.sub-trending{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 2rem;
    box-sizing: border-box;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3rem;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.bottom-img{
    width: 30%;
    height: 40vh;
    margin-right: 20px;
}

.bottom-det{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top{
    margin-bottom: 2rem;
}

.course-card{
    width: 50%;
    height: 170px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-right: 2rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#course-logo{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}

.left-course{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-side h3{
    font-size: 1rem;
    width: 85%;
    font-family: poppins-bold;
    margin: 1rem;
    color: white;
}

.right-side h3{
    font-size: 2.5rem;
    width: 85%;
    font-family: poppins-bold;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    color: white;
    line-height: 1.2;
}

.right-side p{
    font-size: 1rem;
    width: 90%;
    color: white;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.right-side b{
    font-size: 1rem;
    color: rgb(216, 216, 216);
    margin-bottom: 1.5rem;
    margin-left: 2rem;
}

.right-side{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#bottom-btn{
    border: 0;
    height: 2.3rem;
    width: 6rem;
    background-color: red;
    color: white;
    font-size: 1rem;
    border-radius: 3px;
    margin-left: 1rem;
}

.left-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
    width: 100%;
}

#comp-logo{
    width: 10%;
    height: 5vh;
}

/* responsive */
@media(max-width:1500px){
    

    .start{
        height: 300px;
    }
    #heading{
        font-size: 2rem;
    }
    #sub-heading{
        font-size: 1rem;
        width: 60%;
    }

     .trending-course{
        height: 200px;
    }

    .trending{
        
    }

    .sub-trending{
        display: flex;
        flex-direction: column;
    }

    .sub-sub-trending1{
        height: 200px;
    }
    .sub-sub-trending2{
        height: 200px;
        margin-left: 0px;
        margin-top: 10px;
    }

    #trending-content{
        font-size: 1.3rem;
        margin-bottom: 5px;
    }
    #trending-subcontent{
        font-size: 1rem;
        margin-bottom: 2px;
    }

    #courses-btn{
        width: 100px;
        height: 30px;
        font-size: 0.9rem;
    }


    .right-side{
        width: 100%;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .left-side{
        width: 100%;
    }

    .bottom{
        display: flex;
        flex-direction: column-reverse;
    }

    #top-btn{
        width: 100px;
        height: 30px;
        font-size: 0.7rem;
    }

    
    
}

@media(max-width:1150px){
    .main{
        width: 100%;
    }
    .start{
        height: 350px;
    }
    #heading{
        font-size: 1.5rem;
    }
    #sub-heading{
        font-size: 1rem;
        width: 60%;
    }

     .trending-course{
        height: 200px;
    }

    

    .sub-trending{
        display: flex;
        flex-direction: column;
    }

    .sub-sub-trending1{
        height: 200px;
    }
    .sub-sub-trending2{
        height: 200px;
        margin-left: 0px;
        margin-top: 10px;
    }

    #trending-content{
        font-size: 1rem;
        margin-bottom: 5px; 
    }
    #trending-subcontent{
        font-size: 0.8rem;
        margin-bottom: 2px;
    }

    #courses-btn{
        width: 100px;
        height: 30px;
        font-size: 0.9rem;
    }

    #bottom-btn{
        width: 100px;
        height: 30px;
        font-size: 0.9rem;
    }


    .right-side{
        width: 100%;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    #comp-logo{
        width: 6rem;
        height: 2rem;
    }

    #comp-img{
        width: 8rem;
        height: 4rem;
    }

    .left-side{
        width: 100%;
    }

    .bottom{
        display: flex;
        flex-direction: column-reverse;
    }

    #top-btn{
        width: 100px;
        height: 30px;
        font-size: 0.7rem;
    }
}

@media (max-width:850px){
    .main{
        width: 100%;
    }
    #value{
        font-size: 1rem;
        margin-top: 10px;
    }
    .body{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .start{
        height: 200px;
    }
    .trending{
        margin-top: 20px;
    }
    #heading{
        font-size: 1rem;
    }
    #sub-heading{
        font-size: 0.7rem;
        width: 60%;
        margin-bottom: 10px;
        line-height: 1;
    }

     .trending-course{
        height: 200px;
    }

    #comp-logo{
        width: 4rem;
        height: 1rem;
    }

    #comp-img{
        width: 6rem;
        height: 2rem;
    }

    .trending{
        
    }

    .sub-trending{
        display: flex;
        flex-direction: column;
    }

    .sub-sub-trending1{
        height: 200px;
    }
    .sub-sub-trending2{
        height: 200px;
        margin-left: 0px;
        margin-top: 10px;
    }

    #trending-content{
        font-size: 1rem;
        margin-bottom: 5px;
    }
    #trending-subcontent{
        font-size: 0.7rem;
        margin-bottom: 2px;
    }

    #courses-btn{
        width: 100px;
        height: 30px;
        font-size: 0.9rem;
    }


    .right-side{
        width: 100%;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .left-side{
        width: 100%;
        margin-left: 0px;
        margin-right:0px ;

    }

    .left-course{
        display: flex;
        flex-direction: column;
    }
    .top{
        width: 85%;
    }

    .course-card{
        width: 100%;
        margin-bottom: 10px;
    }

    .bottom{
        display: flex;
        flex-direction: column-reverse;
    }

    #top-btn{
        width: 100px;
        height: 30px;
        font-size: 0.7rem;
    }
}

@media (max-width:700px){
    .main{
        width: 100%;
    }
    #value{
        font-size: 1rem;
        margin-top: 10px;
    }
    .body{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .start{
        height: 150px;
    }
    .trending{
        margin-top: 20px;
    }
    #heading{
        font-size: 1rem;
    }
    #sub-heading{
        font-size: 0.5rem;
        width: 60%;
        margin-bottom: 5px;
        line-height: 1;
    }

     .trending-course{
        height: 150px;
    }

    #comp-logo{
        width: 4rem;
        height: 1rem;
    }

    #comp-img{
        width: 6rem;
        height: 2rem;
    }

    .trending{
        
    }

    .sub-trending{
        display: flex;
        flex-direction: column;
    }

    .sub-sub-trending1{
        height: 150px;
    }
    .sub-sub-trending2{
        height: 150px;
        margin-left: 0px;
        margin-top: 10px;
    }

    #trending-content{
        font-size: 0.7rem;
        margin-bottom: 5px;
    }
    #trending-subcontent{
        font-size: 0.5rem;
        margin-bottom: 2px;
    }

    #courses-btn{
        width: 80px;
        height: 20px;
        font-size: 0.7rem;
    }


    .right-side{
        width: 100%;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .left-side{
        width: 100%;
        margin-left: 0px;
        margin-right:0px ;
    }

    .left-course{
        display: flex;
        flex-direction: column;
    }
    .top{
        width: 95%;
    }

    .course-card{
        width: 100%;
    }

    .bottom{
        display: flex;
        flex-direction: column-reverse;
    }

    #top-btn{
        width: 80px;
        height: 20px;
        font-size: 0.5rem;
    }
}