<div class="main">

    <!-- <div class="start">
        <div>
            <h2>LEARN-IT</h2>
            <h4 id="content">Best place to learn current technology, with High Quality and Affordable Price.</h4>
            <h4 id="content-2">Trusted by 200,000 Students and Professionals</h4>
            <div class="search">
                <input type="text" name="course" id="course" placeholder="what do you want to learn">
                <img id="search-img" src="../assets/search.png" alt="">
            </div>
        </div>

        <div>
            <img id="content-img"src="../assets/contentimg.jpg" alt="#alt">
        </div>
        

    </div>

    <div class="trending">



    </div>

    <div class="course-container">
        <div>

        </div>
        <div>
            
        </div>
        <div>
            
        </div>
    </div> -->

    <div class="start">
        <h1 id="heading">Find the best Online Course & Learn</h1>
        <h4 id="sub-heading">Best place to learn new technology, with High Quality and Affordable Price.</h4>
        <h4 id="sub-heading">Trusted by 200,000 Students and Professionals</h4>
        <button id="courses-btn"type="submit" (click)="goToCourse()">Check Courses</button>
    </div>

    <div class="body">
        <h2 id="value">Trusted by 3,000+ Companies WorldWide</h2>
        <div class="logos">
            <img id="comp-img" src="../../assets/apple.png" alt="">
            <img id="comp-img" src="../../assets/facebook.png" alt="">
            <img id="comp-img" src="../../assets/google-symbol.png" alt="">
            <img id="comp-img" src="../../assets/microsoft.png" alt="">
        </div>
    </div>

    <div class="trending">
        <h2 id="value">Trending Course</h2>
        <div class="trending-course">
            <h3 id="trending-content">Learn Android Application development and build Production Level Apps with absolute fun.</h3>
            <h3 id="trending-subcontent">A complete guid to learn Android Application Development</h3>
            <button id="courses-btn"type="submit" (click)="goToCourse_trending('Android P')">Enroll</button>
        </div>

        <div class="sub-trending">
            <div class="sub-sub-trending1">
                <h3 id="trending-content">Want to know more about DSA!</h3>
                <button id="courses-btn"type="submit" (click)="goToCourse_trending('DSA')">Enroll</button>
            </div>

            <div class="sub-sub-trending2">
                <h3 id="trending-content">Modern Web Development</h3>
                <button id="courses-btn"type="submit" (click)="goToCourse_trending('Modern_Dev')">Enroll</button>
            </div>
            
        </div>
    </div>

    <div class="bottom">
        <img src="../../assets/bottom-img.png" alt="" class="bottom-img">
        <div>
            <div class="bottom-cont">
                <h3 id="trending-content">We help students to grow their career</h3>
                <h3 id="trending-subcontent">with high quality video content and affordable price, along with lot's of fun</h3>
            </div>
            <div class="bottom-det">
                <div class="sub-det">
                    <h3 id="trending-content">22K+</h3>
                <h3 id="trending-subcontent">Students</h3>
                </div>
                <div class="sub-det">
                    <h3 id="trending-content">120+</h3>
                <h3 id="trending-subcontent">Coursess</h3>
                </div>
                <div class="sub-det">
                    <h3 id="trending-content">120+</h3>
                <h3 id="trending-subcontent">Countriess</h3>
                </div>
            </div>
        </div>
        
    </div>

</div>
