<div class="main">

    <div class="start">
        <div>
            <h2>LEARN-IT</h2>
            <h4 id="content">Best place to learn current technology, with High Quality and Affordable Price.</h4>
            <h4 id="content-2">Trusted by 200,000 Students and Professionals</h4>
            <div class="search">
                <input type="text" name="course" id="course" placeholder="what do you want to learn">
                <img id="search-img" src="../assets/search.png" alt="">
            </div>
        </div>

        <div>
            <img id="content-img"src="../assets/contentimg.jpg" alt="#alt">
        </div>
        

    </div>

    <div class="trending">



    </div>

    <div class="course-container">
        <div>

        </div>
        <div>
            
        </div>
        <div>
            
        </div>
    </div>

</div>
