<div class="main">
    <!-- <div class="heading-div"> -->
        <h1 id="title">My Enrollments</h1>
    <!-- </div> -->
    
    <div class="body">
        <div class="enrollment-det" *ngFor="let course of enrollments" (click)="goToCourseDet(course.name)">
            <img class="enrollment-img" src="{{course.img_thumbnai}}">
            <div class="course-det-div">
                <div>
                    <h3 id="course-det-name">{{course.name}}</h3>
                    <p id="price">₹ 300.00</p>
                </div>
                
                <h5 id="course-det">{{course.duration}} lessons</h5>
                <th>
                    <tr>
                        <td>
                            <h5 id="course-det">{{course.category}} -></h5></td>
                        <td>
                            <h5 id="course-det">{{course.sub_category}}</h5>
                        </td>
                    </tr>
                </th>
                <h5 id="course-det">{{course.overview}}</h5>
                <b id="course-det">by {{course.instructor}}</b>
                <!-- <h5>{{course.duration}}</h5> -->
            </div>
        </div>
    </div>
    
</div>
