<div class="main">
    <!-- <div class="heading-div"> -->
        <h1 id="title">My Enrollments</h1>
    <!-- </div> -->
    
    <div class="body">
        <div class="enrollment-det" *ngFor="let course of enrollments" (click)="goToCourseDet(course.name)">
            <img class="enrollment-img" src="{{course.img_thumbnai}}">
            <div class="course-det-div">
                <div>
                    <h3 id="course-det-name">{{course.name}}</h3>
                    <p id="price">₹ {{course.price}}</p>
                </div>
                
                <h5 id="course-det">{{course.duration}} lessons</h5>
                <th>
                    <tr>
                        <td>
                            <h5 id="course-det">{{course.category}} -></h5></td>
                        <td>
                            <h5 id="course-det">{{course.sub_category}}</h5>
                        </td>
                    </tr>
                </th>
                <h5 id="course-det">{{course.overview}}</h5>
                <b id="course-det">by {{course.instructor}}</b>
                <!-- <h5>{{course.duration}}</h5> -->
            </div>
        </div>
        <div class="noenrollments" *ngIf="noEnrollments">
            <div  class="enrollment-done"> 
                <img id="completed-img" src="https://learnit.s3.ap-south-1.amazonaws.com/noenrollments.png" alt="">
                <h3 id="enrollment-msg">Oops no Enrollment found..!</h3>
                <!-- <input type="submit" id="login-btn" value="Login"/> -->
                <input id="login-btn" type="submit" value="Continue" (click)="goToCourse()"/>
            </div>
    </div>
    
</div>
