<div class="main" *ngIf="isLoaded">
    <h1 id="headding">Add New Course</h1>
    <div class="body"> 
        <form #newCourseForm="ngForm" method="post">
            <div class="input-div">
                <label for="url">Image URL</label>
                <input type="text" id="url" name="url" value="" required placeholder="img url" [(ngModel)]="url"
                #vurl="ngModel"
                />
                <p *ngIf="vurl.dirty && vurl.invalid" id="error" class="ecname">image url should not be empty!</p>
            </div>
            <div class="input-div">
                <label for="cname">Course Name</label>
                <input type="text" id="cname" name="cname" value="" required placeholder="Course Name" [(ngModel)]="cname"
                #vcname="ngModel"
                />
                <p *ngIf="vcname.dirty && vcname.invalid" id="error" class="ecname">Course Name should not be empty!</p>
            </div>
            <div class="input-div">
                <label for="categories">categories</label>
                <div class="category-container">
                    <select class="form-control" id="category" (change)="onChange($event)" name="cate" [(ngModel)]="selectedCategory">
                        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
                    </select>
                        <select class="form-control" id="sub-category" (change)="onChangeSub($event)" name="subcate" [(ngModel)]="selectedSubCategory">
                            <option *ngFor="let subCategory of subCategories" [value]="subCategory">{{subCategory}}</option>
                        </select>
                </div>
            </div>
            <div class="input-div">
                <label  for="overview">Overview</label>

                <!-- <textarea type="text" name="" id="new-comment" placeholder="type here.." [(ngModel)]="newcomment"></textarea> -->
                
                <input type="text" id="overview" name="overview" value=""
                       required placeholder="overview of the course" [(ngModel)]="overview" #voverview="ngModel"
                       />
                <p *ngIf="voverview.dirty && voverview.invalid" id="error" class="ephno">Overview should not be empty!</p>
            </div>
            
            <div class="input-div">
                <div class="duration-div">
                    <div class="duration">
                        <label  for="duration">Course Duration</label>
                    
                        <input type="text" id="duration" name="ducation" value=""
                               required placeholder="course duration" [(ngModel)]="duration" #vduration="ngModel"
                               />
                        <p *ngIf="vduration.dirty && vduration.invalid" id="error" class="eemail">Duration should not be empty!</p>
                    </div>
                    <div class="price">
                        <label  for="price">Price</label>
                    
                        <input type="number" id="price" name="price" value=""
                               required placeholder="course price" [(ngModel)]="price" #vprice="ngModel"
                               />
                        <p *ngIf="vprice.invalid && vprice.dirty" id="error" class="eemail">price should not be empty!</p>
                    </div>
                </div>
                

            </div>
            
            <div class="input-div">
                <label  for="instructor">Instructor</label>
                
                <input type="text" id="instructor" name="instructor" value=""
                       required placeholder="instructor name" [(ngModel)]="instructor" #vinstructor="ngModel"
                       />
                <p *ngIf="vinstructor.dirty && vinstructor.invalid" id="error" class="epassword">Instructor Name should not be empty!</p>
            </div>
            
            
        </form>
        <div class="syllabus-div">
            <label for="syllabus">Add Syllabus</label>
            <div class="add-syll">
                <div class="syll-name">
                    <input type="text" id="syllabus" name="syllabus" value="" (keyup.enter)="addSyllabus()"
                    required placeholder="syllabus" [(ngModel)]="oneSyllabus" #vsyllabus="ngModel"
                    />
                    <!-- <p *ngIf="vsyllabus.dirty && vsyllabus.invalid" id="error" class="epassword">Syllabus should not be empty!</p> -->
                </div>
                <button type="submit" id="add-btn" (click)="addSyllabus()">Add</button>
            </div>
            <div class="added-syll" *ngFor="let syll of syllabus">
                <div class="added-syll-div">
                    <p id="syll-content" >{{syll}}</p>
                    <button type="submit" id="cancle-btn" (click)="removeSyllabus(syll)">cancle</button>
                </div>
                
            </div>
        </div>
        <input [disabled]="!newCourseForm.form.valid" id="submit" type="submit" value="Upload" (click)="onSubmit()"/>
    </div>
</div>

<div class="loader" *ngIf="!isLoaded"></div>
