<mat-toolbar *ngIf="auth.isLoggedIn==='no'">
    <div class="brand" layout="row" layout-align="center center">
        <img id="logo" src="https://learnitv1.s3.ap-south-1.amazonaws.com/images/nav_logo.png"/>
        <b>LIT</b>
    </div>
    <div>
        <a href="login" mat-button>Login</a> 
        <a href="register" mat-button>Register</a>
    </div>
    
</mat-toolbar>

  <mat-toolbar *ngIf="auth.isLoggedIn==='user'">
    <div class="brand" layout="row" layout-align="center center">
        <img id="logo" src="https://learnitv1.s3.ap-south-1.amazonaws.com/images/nav_logo.png"/>
        <b>LIT</b>
    </div>
    <div fxShow="true" fxHide.lt-md="true">
        <a href="home" mat-button>Home</a> 
        <a href="courses" mat-button>Courses</a>
        <a href="profile" mat-button>Profile</a> 
        <button (click)="logout()">
            Logout
        </button>
    </div>

    <div fxShow="true" fxHide.gt-sm="true">
        <img src="https://learnitv1.s3.ap-south-1.amazonaws.com/images/list.png" alt="" id="menu" (click)="sidenav.toggle()">
      </div>
    
  </mat-toolbar>

  <mat-toolbar *ngIf="(auth.isLoggedIn==='admin'||auth.isLoggedIn==='support')">
    <div class="brand" layout="row" layout-align="center center">
        <img id="logo" src="https://learnitv1.s3.ap-south-1.amazonaws.com/images/nav_logo.png"/>
        <b>LIT</b>
    </div>
    <div fxShow="true" fxHide.lt-md="true">
        <a href="adminHome" mat-button>Home</a> 
        <a href="addCourse" mat-button>Add Course</a>
        <a href="allUsers" mat-button>Users</a> 
        <a href="addCategory" mat-button>Add Category</a> 
        <button (click)="logout()">
            Logout
        </button>
    </div>

    <div fxShow="true" fxHide.gt-sm="true">
        <img src="https://learnitv1.s3.ap-south-1.amazonaws.com/images/list.png" alt="" id="menu" (click)="sidenav.toggle()">
      </div>
    
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="side-nav">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column" *ngIf="(auth.isLoggedIn==='admin'||auth.isLoggedIn==='support')" class="side-nav-div">
        <a href="adminHome" mat-button>Home</a> 
        <a href="addCourse" mat-button>Add Course</a>
        <a href="allUsers" mat-button>Users</a> 
        <a href="addCategory" mat-button>Add Category</a>
        <button (click)="logout()">
            Logout
        </button>
      </div>

      <div fxLayout="column" *ngIf="auth.isLoggedIn==='user'" class="side-nav-div">
        <a href="home" mat-button>Home</a> 
        <a href="courses" mat-button>Courses</a>
        <a href="profile" mat-button>Profile</a> 
        <button (click)="logout()">
            Logout
        </button>
      </div>
    </mat-sidenav>
    <router-outlet></router-outlet> 
  </mat-sidenav-container>

<!-- <router-outlet></router-outlet>  -->

