
<!-- not logged in -->
<div class="topnav" *ngIf="auth.isLoggedIn==='no'">
    <div class="brand" layout="row" layout-align="center center">
        <img id="logo" src="../../../assets/nav_logo.png"/>
        <b>LIT</b>
    </div>
    <div>
        <a routerLink="login"  routerLinkActive="active">
            LogIn
        </a>
        <a routerLink="register"  routerLinkActive="active">
            Register
        </a>
        
    </div>
</div>

<!-- logged in user -->
<div class="topnav" *ngIf="auth.isLoggedIn==='user'">
    <div class="brand">
        <img id="logo" src="../../../assets/nav_logo.png"/>
        <b>LIT</b>
    </div>
    <div>
        <a routerLink="home"  routerLinkActive="active">
            Home
        </a>
        <a routerLink="courses"  routerLinkActive="active">
            Courses
        </a>
        <!-- <a routerLink="profile"  routerLinkActive="active">
            Profile
        </a> -->
        <a routerLink="myEnrollments"  routerLinkActive="active">
            My Enrollments
        </a>
        <button (click)="logout()">
            Logout
        </button>

        
    </div>
</div>
<router-outlet></router-outlet>
