
.brand{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

#logo{
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

#menu{
    width: 1.5rem;
    height: 1.5rem;
    display: none;
}

mat-toolbar{
    background-color: #4f3e9d;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.side-nav{
    background-color: #4f3e9d;
}

.side-nav-div{
    
    width: 200px;
}

mat-sidenav{
    background-color: #423385;
}

.topnav{
display:flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
top: 0;
width: 95%;
position: sticky;
margin:0 auto;
margin-top: 10px;
background-color: #503E9D;
margin-bottom: 20px;
}

.right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.right-login{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a:hover{
    color:#ff706b;
    
}



.res-nav{
    width: 90%;
    background-color: #48388f;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    margin: 0 auto;
}

a{
    margin: 10px;
    color: white;
    font-size: 1rem;
}
b{
    color: white; 
    font-size: 1.7em;
}

button{
    padding : 8px;
    border: 0;
    border-radius: 5%;
    background-color: red;
    color: white;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* responsive */
@media (max-width:1150px) {
    .right{
        display: none;
    }

    #menu{
        display: block;
    }
}
