
.brand{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

#logo{
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.topnav{
display:flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
top: 0;
width: 95%;
position: sticky;
margin:0 auto;
margin-bottom: 20px;
background-color: #503E9D;
}

.right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a:hover{
    color:#ff706b;
    
}



a{
    margin: 20px;
    color: white;
    font-size: 1rem;
}
b{
    color: white;
    font-size: 1.7em;
}

button{
    padding : 8px;
    border: 0;
    border-radius: 5%;
    background-color: red;
    color: white;
}

/* responsive */
@media (max-width:1150px) {
    
}
