<div class="main">
    <h1 id="headding">All Users</h1>
    <div class="choice-div">
        <div class="radio-div">
            <input type="radio" id="radio-btn" name="fav_language" value="Users" (click)="onChange('user')" [checked]="isNotChanged">
            <label for="radio-btn">Users</label><br>
        </div> 
        <div class="radio-div">
            <input type="radio" id="radio-btn" name="fav_language" value="Support" (click)="onChange('support')">
            <label for="radio-btn">Supports</label><br>
        </div> 
    </div>
    
    <div class="user-div" *ngFor="let user of filtered">
        <p id="user-name">{{user.emailId}}</p>
        <button type="submit" id="btn" (click)="makeAdmin(user.emailId,'support')" *ngIf="user.role==='user'">Make as support</button>
        <button type="submit" id="btn-user" (click)="makeAdmin(user.emailId,'user')" *ngIf="user.role==='support'">Make as user</button>
    </div>
</div>
